root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Indentation
[*.{js,scss,css,html,htm,pcss}]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 2

# Whitespace
[*.{js,scss,css,json}]
trim_trailing_whitespace = true
